.login-logo {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 84px;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
}

@media (max-width: 767px) {
	.login-logo {
        max-width: 110px;
        max-height: 61px;
    }
}