.Validator {
  font-size: 12px;
  color: #757575;
}

.Validator-feedbackPassword {
  display: block;
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 14px;
  color: #D8000C;
  transition: opacity .3s ease-in-out;
}

.Validator-feedbacks {
  display: flex;
  flex-direction: column;
}
  
.Validator-feedback {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
  
.Validator-feedbackText {
  margin-left: 8px;
  transition: color .3s ease-in-out;
}
    
.Validator-feedbackText--valid {
  color: #454545;
}
  
.Validator-feedbackIcon--valid {
  display: none;
  stroke: green;
}
  
.Validator-check {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation: check .2s .1s ease-in-out forwards;
}

.Validator-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b3b3b3;
  animation: circle .3s ease-in-out forwards;
}

@keyframes check {
  0% {
    stroke-dashoffset: 45;
  }
  100% {
    stroke-dashoffset: 20;
  }
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}