.admin-console {
    .container {
        margin-top: 30px;
    }
}

.header {
    .container {
        margin-top: 0;
    }
}

.navbar-pf {
    border: none;
}

.content-area {
    border: none;

    h2 {
        font-family: $ff2;
    }
}

.account-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
}

.subtitle {
    color: $text-color;
}

@media (max-width: $screen-xs-max) {
    .content-area {
        padding: 0;
    }

    #kc-form-buttons > div {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        .btn {
            margin: 0 0 15px 0;
        }
    }
}

