.btn,
.pf-c-button
{
    padding-left: 30px;
    padding-right: 30px;
    min-height: 48px;
    border-radius: 4px;
    font-size: $fz-m;
    font-weight: bold;
    box-shadow: none;
    transition: all .5s;
}

.pf-m-primary,
.pf-c-button.pf-m-primary,
.btn-primary
{
    border-color: $brand-primary;
    background: $brand-primary;
    color: $brand-primary-opposite;

    &:hover, &:active, &:focus {
        border-color: darken($brand-primary, 20%);
        background: darken($brand-primary, 20%);

        &:hover, &:active, &:focus {
            border-color: darken($brand-primary, 20%);
            background: darken($brand-primary, 20%);
        }
    }
}

.pf-m-default,
.pf-c-button.pf-m-default,
.btn-default
{
    border-color: $btn-default-bg;
    background: $btn-default-bg;
    color: $btn-default-color;

    &:hover, &:active, &:focus {
        border-color: darken($btn-default-bg, 20%);
        background: darken($btn-default-bg, 20%);
        color: darken($btn-default-color, 20%);

        &:hover, &:active, &:focus {
            border-color: darken($btn-default-bg, 20%);
            background: darken($btn-default-bg, 20%);
            color: darken($btn-default-color, 20%);
        }
    }
}