@import url("https://is-cdn-dev.storage.googleapis.com/store/font/default/league-spartan/LeagueSpartan.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900");
@import url("https://is-cdn-dev.storage.googleapis.com/store/font/default/icons/Store.css");
.form-horizontal {
  border-top: none;
}

.form-horizontal .control-label,
.pf-c-form__label,
.pf-c-form__helper-text {
  font-size: 14px;
  color: #333333;
}

.form-horizontal .control-label.pf-m-error,
.pf-c-form__label.pf-m-error,
.pf-c-form__helper-text.pf-m-error {
  color: #c9190b;
}

.form-horizontal .control-label {
  padding-top: 15px;
}

.control-label + .required {
  top: 12px;
}

.form-control,
.pf-c-form-control {
  min-height: 48px;
  border: 1px solid #d8dde2;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.form-control:hover, .form-control:active, .form-control:focus,
.pf-c-form-control:hover,
.pf-c-form-control:active,
.pf-c-form-control:focus {
  border-width: 1px;
}

.form-control:hover, .form-control:active,
.pf-c-form-control:hover,
.pf-c-form-control:active {
  border-color: #d8dde2;
}

.form-control:focus,
.pf-c-form-control:focus {
  border-color: #222222;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.form-control[aria-invalid="true"],
.pf-c-form-control[aria-invalid="true"] {
  background-position-y: center;
}

.form-control[aria-invalid="true"]:hover, .form-control[aria-invalid="true"]:active,
.pf-c-form-control[aria-invalid="true"]:hover,
.pf-c-form-control[aria-invalid="true"]:active {
  border-color: #c9190b;
}

.form-control[aria-invalid="true"]:focus,
.pf-c-form-control[aria-invalid="true"]:focus {
  border-color: #c9190b;
  box-shadow: inset 0 0 3px 0 rgba(201, 25, 11, 0.5);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  color: #333333;
}

#kc-form-options .checkbox,
.login-pf a {
  font-size: 14px;
}

#kc-form-options .checkbox input {
  top: 1px;
}

@media (max-width: 767px) {
  .form-horizontal .control-label {
    display: inline;
  }
  .form-horizontal .control-label + .required {
    position: static;
    top: auto;
    right: auto;
  }
}

.btn,
.pf-c-button {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 48px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  transition: all .5s;
}

.pf-m-primary,
.pf-c-button.pf-m-primary,
.btn-primary {
  border-color: #222222;
  background: #222222;
  color: #ffffff;
}

.pf-m-primary:hover, .pf-m-primary:active, .pf-m-primary:focus,
.pf-c-button.pf-m-primary:hover,
.pf-c-button.pf-m-primary:active,
.pf-c-button.pf-m-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-color: black;
  background: black;
}

.pf-m-primary:hover:hover, .pf-m-primary:hover:active, .pf-m-primary:hover:focus, .pf-m-primary:active:hover, .pf-m-primary:active:active, .pf-m-primary:active:focus, .pf-m-primary:focus:hover, .pf-m-primary:focus:active, .pf-m-primary:focus:focus,
.pf-c-button.pf-m-primary:hover:hover,
.pf-c-button.pf-m-primary:hover:active,
.pf-c-button.pf-m-primary:hover:focus,
.pf-c-button.pf-m-primary:active:hover,
.pf-c-button.pf-m-primary:active:active,
.pf-c-button.pf-m-primary:active:focus,
.pf-c-button.pf-m-primary:focus:hover,
.pf-c-button.pf-m-primary:focus:active,
.pf-c-button.pf-m-primary:focus:focus,
.btn-primary:hover:hover,
.btn-primary:hover:active,
.btn-primary:hover:focus,
.btn-primary:active:hover,
.btn-primary:active:active,
.btn-primary:active:focus,
.btn-primary:focus:hover,
.btn-primary:focus:active,
.btn-primary:focus:focus {
  border-color: black;
  background: black;
}

.pf-m-default,
.pf-c-button.pf-m-default,
.btn-default {
  border-color: #ebebeb;
  background: #ebebeb;
  color: #333333;
}

.pf-m-default:hover, .pf-m-default:active, .pf-m-default:focus,
.pf-c-button.pf-m-default:hover,
.pf-c-button.pf-m-default:active,
.pf-c-button.pf-m-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  border-color: #b8b8b8;
  background: #b8b8b8;
  color: black;
}

.pf-m-default:hover:hover, .pf-m-default:hover:active, .pf-m-default:hover:focus, .pf-m-default:active:hover, .pf-m-default:active:active, .pf-m-default:active:focus, .pf-m-default:focus:hover, .pf-m-default:focus:active, .pf-m-default:focus:focus,
.pf-c-button.pf-m-default:hover:hover,
.pf-c-button.pf-m-default:hover:active,
.pf-c-button.pf-m-default:hover:focus,
.pf-c-button.pf-m-default:active:hover,
.pf-c-button.pf-m-default:active:active,
.pf-c-button.pf-m-default:active:focus,
.pf-c-button.pf-m-default:focus:hover,
.pf-c-button.pf-m-default:focus:active,
.pf-c-button.pf-m-default:focus:focus,
.btn-default:hover:hover,
.btn-default:hover:active,
.btn-default:hover:focus,
.btn-default:active:hover,
.btn-default:active:active,
.btn-default:active:focus,
.btn-default:focus:hover,
.btn-default:focus:active,
.btn-default:focus:focus {
  border-color: #b8b8b8;
  background: #b8b8b8;
  color: black;
}

.navbar .container {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.navbar-pf .navbar-utility {
  position: static;
  top: auto;
  right: auto;
  font-size: 14px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav li {
  float: none;
}

#kc-locale-dropdown a {
  font-size: 14px;
  font-weight: normal;
}

a#kc-current-locale-link:after {
  content: '\e90b';
  font-family: "Store";
  font-size: 12px;
}

#kc-locale ul li,
.kc-dropdown ul li {
  font-size: 14px;
}

#kc-locale ul li a:hover, #kc-locale ul li a:active,
.kc-dropdown ul li a:hover,
.kc-dropdown ul li a:active {
  border-color: transparent;
  background: #d8dde2;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
  .navbar-pf .navbar-utility,
  .navbar-pf .navbar-utility > li > a,
  .navbar-pf .navbar-utility > li > button {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .navbar-pf .navbar-utility > li + li {
    border: none;
  }
}

html {
  background: transparent!important;
}

.login-pf body {
  height: 100%;
  background: #ffffff;
}

.login-pf-page {
  padding: 0;
}

#kc-header-logo {
  height: 100px;
}

#kc-page-title {
  font-family: "LeagueSpartan", sans-serif;
}

#kc-info-wrapper {
  background: none;
}

.login-pf-page .login-pf-signup {
  color: #333333;
}

#kc-info-wrapper {
  font-size: 14px;
}

@media (min-width: 768px) {
  .login-pf body {
    background: #f4f4f4;
  }
  .login-pf-page .card-pf {
    position: relative;
    max-width: none;
    width: 675px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
  #kc-locale {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 767px) {
  .login-pf-header {
    padding-top: 40px;
  }
  #kc-page-title {
    font-size: 22px;
  }
}

.bs-sidebar {
  padding: 30px;
  background: #f4f4f4;
}

.bs-sidebar ul {
  margin: 0;
  padding: 0;
}

.bs-sidebar ul li {
  margin: 0;
}

.bs-sidebar ul li.active a {
  position: relative;
  background: none;
  color: black;
}

.bs-sidebar ul li.active a:after {
  content: '\e90b';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  font-family: "Store";
  font-size: 20px;
  transform: rotate(-90deg);
}

.bs-sidebar ul li a {
  padding: 4px 20px 4px 0;
  border: none;
}

.bs-sidebar ul li a:hover, .bs-sidebar ul li a:active {
  border: none;
  color: black;
}

@media (max-width: 767px) {
  .bs-sidebar {
    margin-bottom: 30px;
    margin: -30px -20px 20px -20px;
    padding: 5px 15px;
  }
  .bs-sidebar ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .bs-sidebar ul li.active a {
    background: #ffffff;
  }
  .bs-sidebar ul li a {
    margin: 5px;
    padding: 0 10px;
    border-radius: 4px;
  }
  .bs-sidebar ul li a:after {
    content: '';
    display: none;
  }
}

.admin-console .container {
  margin-top: 30px;
}

.header .container {
  margin-top: 0;
}

.navbar-pf {
  border: none;
}

.content-area {
  border: none;
}

.content-area h2 {
  font-family: "LeagueSpartan", sans-serif;
}

.account-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 20px;
}

.subtitle {
  color: #333333;
}

@media (max-width: 767px) {
  .content-area {
    padding: 0;
  }
  #kc-form-buttons > div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  #kc-form-buttons > div .btn {
    margin: 0 0 15px 0;
  }
}

body {
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body,
#kc-form-options .checkbox {
  color: #333333;
}

a,
.login-pf a {
  color: #222222;
  transition: background-color .3s;
}

a:hover, a:active, a:focus,
.login-pf a:hover,
.login-pf a:active,
.login-pf a:focus {
  color: #090909;
}

.h1, .h2, .h3 {
  font-family: "LeagueSpartan", sans-serif;
}
