@import 'variables';
@import 'forms';
@import 'buttons';
@import 'header';
@import 'login';
@import 'sidebar';
@import 'account';

body {
    background: $body-bg;
    font-family: $ff1;
    font-size: $fz-m;
}

body,
#kc-form-options .checkbox
{
    color: $text-color;
}

a,
.login-pf a
{
    color: $brand-primary;
    transition: background-color .3s;

    &:hover, &:active, &:focus {
        color: darken($brand-primary, 10%);
    }
}

.h1, .h2, .h3 {
    font-family: $ff2;
}


