.form-horizontal {
    border-top: none;
}

.form-horizontal .control-label,
.pf-c-form__label,
.pf-c-form__helper-text {
    font-size: $fz-m;
    color: $text-color;

    &.pf-m-error {
        color: $brand-danger;
    }
}

.form-horizontal .control-label {
    padding-top: 15px;
}

.control-label + .required {
    top: 12px;
}

.form-control,
.pf-c-form-control
{
    min-height: 48px;
    border: $input-border-width solid $input-border-color;
    border-radius: 4px;
    outline: none;
    font-size: $fz-m;

    &:hover, &:active, &:focus {
        border-width: $input-border-width;
    }

    &:hover, &:active {
        border-color: $input-border-color;
    }

    &:focus {
        border-color: $brand-primary;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
    }

    &[aria-invalid="true"] {
        background-position-y: center;

        &:hover, &:active {
            border-color: $brand-danger;
        }

        &:focus {
            border-color: $brand-danger;
            box-shadow: inset 0 0 3px 0 rgba(red($brand-danger), green($brand-danger), blue($brand-danger), .5);
        }
    }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: $text-color;
}

#kc-form-options .checkbox,
.login-pf a
{
    font-size: $fz-m;
}

#kc-form-options .checkbox {
    input {
        top: 1px;
    }
}

@media (max-width: $screen-xs-max) {
    .form-horizontal .control-label {
        display: inline;

        & + .required {
            position: static;
            top: auto;
            right: auto;
        }
    }
}
