.navbar {
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }
}

.navbar-pf .navbar-utility {
    position: static;
    top: auto;
    right: auto;
    font-size: $fz-m;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        float: none;

        //&:nth-child(2), &:nth-child(3) {
        //    display: none;
        //}
    }
}

#kc-locale-dropdown {
    a {
        font-size: $fz-m;
        font-weight: normal;
    }
}

a#kc-current-locale-link {
    &:after {
        content: '\e90b';
        font-family: $icons-font;
        font-size: 12px;
    }
}

#kc-locale ul li,
.kc-dropdown ul li
{
    font-size: $fz-m;

    a {
        &:hover, &:active {
            border-color: transparent;
            background: $input-border-color;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .navbar-nav {
        float: none;
    }

    .navbar-pf .navbar-utility,
    .navbar-pf .navbar-utility>li>a,
    .navbar-pf .navbar-utility>li>button
    {
        font-size: $fz-m;
    }
}

@media (max-width: $screen-sm-max) {
    .navbar-pf .navbar-utility>li+li {
        border: none;
    }
}
