html {
    background: transparent!important;
}

.login-pf {
    body {
        height: 100%;
        background: #ffffff;
    }
}

.login-pf-page {
    padding: 0;
}

#kc-header-logo {
    height: 100px;
}

#kc-page-title {
    font-family: $ff2;
}

#kc-info-wrapper {
    background: none;
}

.login-pf-page .login-pf-signup {
    color: $text-color;
}

#kc-info-wrapper {
    font-size: $fz-m;
}

@media (min-width: $screen-sm-min) {
    .login-pf {
        body {
            background: $panel-bg;
        }
    }

    .login-pf-page {
        .card-pf {
            position: relative;
            max-width: none;
            width: 675px;
            border: none;
            border-radius: 6px;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
        }
    }

    #kc-locale {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@media (max-width: $screen-xs-max) {
    .login-pf-header {
        padding-top: 40px;
    }

    #kc-page-title {
        font-size: 22px;
    }
}
