.bs-sidebar {
    padding: 30px;
    background: $panel-bg;

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;

            &.active {
                a {
                    position: relative;
                    background: none;
                    color: darken($brand-primary, 20%);

                    &:after {
                        content: '\e90b';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -13px;
                        font-family: $icons-font;
                        font-size: 20px;
                        transform: rotate(-90deg);
                    }
                }
            }

            a {
                padding: 4px 20px 4px 0;
                border: none;

                &:hover, &:active {
                    border: none;
                    color: darken($brand-primary, 20%);
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .bs-sidebar {
        margin-bottom: 30px;
        margin: -30px -20px 20px -20px;
        padding: 5px 15px;

        ul {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
                &.active {
                    a {
                        background: $body-bg;
                    }
                }

                a {
                    margin: 5px;
                    padding: 0 10px;
                    border-radius: 4px;

                    &:after {
                        content: '';
                        display: none;
                    }
                }
            }
        }
    }
}
