@import url('https://is-cdn-dev.storage.googleapis.com/store/font/default/league-spartan/LeagueSpartan.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@import url('https://is-cdn-dev.storage.googleapis.com/store/font/default/icons/Store.css');

$icons-font: 'Store' !default;
$ff1: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$ff2: 'LeagueSpartan', sans-serif !default;

$body-bg: #ffffff !default;
$panel-bg: #f4f4f4 !default;
$text-color: #333333 !default;
$brand-primary: #222222 !default;
$brand-primary-opposite: #ffffff !default;
$brand-danger: #c9190b !default;
$input-border-color: #d8dde2 !default;
$input-border-width: 1px !default;

$fz-l: 16px;
$fz-m: 14px;

$btn-default-color: #333333 !default;
$btn-default-bg: #ebebeb !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;